*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#box2{
	border-top:10px solid #ff6a00;
	width: 1200px;
	height: 382px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
#box2 #imgs{
	left: -1200px;
	width: 8400px;
	height: 382px;
	position: absolute;
}
#box2 .imgClass{
	float: left;
	width: 1200px;
	height: 382px;
	overflow: hidden;
}
#box2 span{
	position: absolute;
	display: block;
	height: 50px;
	width: 30px;
	text-align: center;
	line-height: 50px;
	top: 166px;
	background-color:red ;
	color: #fff;
	cursor: pointer;
}
#box2 #left{
	left: 20px;
}
#box2 #right{
	right: 20px;
}
#box2 #dot{
	position: absolute;
	bottom: 5px;
	width: 300px;
	height: 30px;
	left: 450px;
}
#box2 li{
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	background-color: #ccc;
	cursor: pointer;
}
#box2 .active{
	background-color: red;
}